<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="tcpBinding"
                   receiveTimeout="00:03:00"
                   sendTimeout="00:03:00"
                   maxBufferPoolSize="2147483647"
                   maxReceivedMessageSize="2147483647"
                   maxBufferSize="2147483647"
                   transactionFlow="false"
                   transferMode="Buffered">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
            <security mode="None">
              <transport clientCredentialType="None" protectionLevel="None"/>
              <message clientCredentialType="None"/>
            </security>
          </binding>
        </netTcpBinding>
      </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehaviour_desktop">
                  <serviceMetadata httpGetEnabled="false"/>
                  <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="SMS_Marketing.DesktopEndpoint" behaviorConfiguration="mexBehaviour_desktop">
              <endpoint address="desktop_services" binding="netTcpBinding"  bindingConfiguration="tcpBinding" contract="SMS_Marketing.IDesktopEndpoint">
              </endpoint>
                <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                      <add baseAddress="net.tcp://localhost:9000/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>